body {
    font-family: Arial;
}

h1, h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  justify-content: space-between;
  align-self: flex-start;
}

.col {
  width: 33%;
  padding: 20px;
}

.point, .bar {
  opacity: 50%;
}

.highlighted {
  opacity: 100% !important;
  stroke: yellow;
}
